[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
ipykernel = "*"
tensorflow-gpu = "*"
numpy = "*"
dask = "*"
cupy-cuda112 = "*"
GPUtil = "*"

[dev-packages]

[requires]
python_version = "3.10"
